@model IEnumerable<GymBooking.Web.Models.GymClass>

@{
    ViewData["Title"] = "Index";
}


@if(TempData["success"]!=null)
{
    <script src="~/lib/jquery/dist/jquery.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
    @*<h2>@TempData["success"]</h2>*@
}

<h1>Index</h1>


 @if (User.IsInRole("Admin"))
 {
<p>
    <a asp-action="Create">Create New</a>
</p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
                     <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>  
                    </td>
                @if (User.IsInRole("Admin"))
                {
                       <td>
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                       </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                     <td>
                        <span>|</span>
                       <a asp-action="BookingToggle" asp-route-id="@item.Id">Book</a>
                    </td>
                }

        </tr>
}
    </tbody>
</table>
